<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Butte College</title>
		<link rel="canonical" href="http://www.butte.edu" />
		<meta name="description" content="Butte College provides quality education, services, and workforce training to students who aspire to become productive members of a diverse, sustainable, and global society." />
		<meta name="keywords" content="Butte College" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel='dns-prefetch' href='//searchclasses.butte.edu/'>
				<meta property="og:site_name" content="Butte-Glenn Community College"/>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://www.butte.edu/_resources/img/social/facebook-share.png">
		<meta property="og:url" content="http://www.butte.edu/">
		
		<meta property="fb:admins" content="1024245463" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="http://www.butte.edu/" />
		<meta name="twitter:creator" content="@buttecollege" />
		<meta name="twitter:image" content="http://www.butte.edu/_resources/img/social/twitter-share.png" />

		<link rel="apple-touch-icon" sizes="180x180" href="/_sm180/assets/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/_sm180/assets/img/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/_sm180/assets/img/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/_sm180/assets/img/manifest.json">
		<link rel="mask-icon" href="/_sm180/assets/img/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/_sm180/assets/img/favicon.ico">
		
		<!-- Meta Tags -->
		<meta name="msapplication-config" content="/_sm180/assets/img/browserconfig.xml" />
		<meta name="theme-color" content="#d19f0e" />
		<meta name="msapplication-navbutton-color" content="#d19f0e" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#d19f0e" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-315003-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-315003-1');
		</script>

		<!-- Global site tag (gtag.js) - AdWords: 826299937 --> 
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-826299937"></script> 
		<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-826299937'); </script>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M89QMM4');</script>
		<!-- End Google Tag Manager -->
		<meta property="og:title" content="Butte College - Home" />
		<meta property="og:description" content="Butte College provides quality education, services, and workforce training to students who aspire to become productive members of a diverse, sustainable, and global society." />
		<meta name="twitter:title" content="Butte-Glenn Community College" />
		<meta name="twitter:description" content="Butte College provides quality education, services, and workforce training to students who aspire to become productive members of a diverse, sustainable, and global society." />
		<!-- Begin Inspectlet Asynchronous Code -->
		<script type="text/javascript">
			(function() {
				window.__insp = window.__insp || [];
				__insp.push(['wid', 1441418357]);
				var ldinsp = function(){
					if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1441418357&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
				setTimeout(ldinsp, 0);
			})();
		</script>
		<!-- End Inspectlet Asynchronous Code -->
		<style>
			#loading {
				background-image:url('/_sm180/assets/img/loading2.gif');
				background-position:center center;
				background-color:#000000;
				background-repeat:no-repeat;
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:99999;
			}
		</style>
		<link href="/ou-alerts/alerts-config.alerts.css?v=2.0-20210401165406" rel="stylesheet">
		<!-- Facebook Domain Verification -->
		<meta name="facebook-domain-verification" content="ft952718syb22q9y0c2b0mzri5obfp" />
	</head>

	<body class="home">
		
		
		<!--
		------------------------------------------------
		Youvisit Virtual Tour Tag
		https://www.youvisit.com/#/vte/?data-platform=v&data-link-type=immersive&data-inst=60713&data-image-width=100%&data-image-height=100%&
		------------------------------------------------
		-->

		<!-- Start Header -->
		
		
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M89QMM4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style>
		#loading {
			background-image:url('//www.butte.edu/_sm180/assets/img/loading2.gif');
			background-position:center center;
			background-color:#000000;
			background-repeat:no-repeat;
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:99999;
		}
	</style>
<div id="loading"></div>

<header>

			<div id="logo">
				<a href="https://www.butte.edu" title="Butte College Home"><img src="/_sm180/assets/img/butte-college-header-logo-2x.png" alt="Butte College" style="max-width:332px;"/></a>
			</div>

			<div id="menu" class="hidden-lg hidden-md hidden-sm no-hover">
				<a href="#" title="Site Menu"> <span class="icon-menu fa fa-bars"></span><span class="icon-menu fa fa-times hidden"></span> <strong>Menu</strong> </a>
			</div>
			
			<div id="apply">
				<a href="https://www.butte.edu/apply" onclick="ga('send', 'event', 'button', 'click', 'applyNow');" title="Apply Now"> <span class="icon-apply"></span> <strong>Apply <span class="hidden-sixfourty">Now</span></strong> </a>
			</div>
			
			<div id="departments">
<!--added onclick to support hiding of camp fire Notice-->				
				<a href="#MassiveEducationalSupportServices" title="View All Departments, Programs, and Services" id="more" class="btn btn-yellow collapsed" role="button" data-toggle="collapse" aria-controls="MassiveEducationalSupportServices" aria-expanded="true">Departments  |  Programs  |  Services</a>

				
			</div>
			
			<div id="search">
				<i class="fa fa-search" id="search-icon"></i>
			<form id="search-form" action="//www.butte.edu/ou-search/" method="get" accept-charset="utf-8" target="_self">
					<div id="search-overlay"></div>
					<div id="search-container">
					<label for="search-box" class="hidden">Search</label>
					<input name="query" type="search" id="search-box" class="dark" placeholder="Type your search and press enter.">
					<button type="submit" value="Submit" aria-label="Search">
						<span class="icon-search"></span><span class="hidden">Go</span>
					</button>
					<div class="row hidden-xs">
						<div class="col-md-4">
							<a href="https://www.butte.edu/directory" class="btn btn-yellow mb-20 full-width search-button">Faculty &amp; Staff Directory</a>
						</div>
						<div class="col-md-4">
							<a href="https://www.butte.edu/catalog" class="btn btn-yellow mb-20 full-width search-button">Course Catalog</a>
						</div>
						<div class="col-md-4">
							<a href="https://www.butte.edu/calendars" class="btn btn-yellow mb-20 full-width search-button">Calendars &amp; Events</a>
						</div>
					<p class="hidden-xs pt-5 clear" style="color:white;">Click or tap anywhere to dismiss search.</p>
					</div>
					<button type="submit" value="Submit" aria-label="Search">
						<span class="icon-search"></span><span class="hidden">Go</span>
					</button>
					</div>
				</form>	
			</div>
	

	
			<nav>

				<ul>
					<li class="visible-sixfourty">
						<a href="/" title="To Butte Home Page" class="nav-link">Home Page</a>
					</li>
					<li>
						<a href="https://programs.butte.edu/" title="All Degrees & Certificates Offered" class="nav-link">Academic Programs</a>
					</li>
					<li>
						<a href="https://www.butte.edu/financialaid/" title="View Financial Aid Information" class="nav-link">Financial Aid</a>
					</li>
					<li>
						<a href="https://www.butte.edu/schedule/" title="Ways to search for classes" class="nav-link">Search for Classes</a>
					</li>
					<li>
						<a href="https://www.butte.edu/admissions/" title="View Admissions Information" class="nav-link">Admissions</a>
					</li>
					<li class="visible-sixfourty">
						<a href="#MassiveEducationalSupportServices" title="Departments" class="nav-link" role="button" data-toggle="collapse" aria-controls="MassiveEducationalSupportServices" aria-expanded="true">Departments, Programs, &amp; Services</a>
					</li>
					<div class="collapse col-md-12" id="MassiveEducationalSupportServices" aria-expanded="true" role="complementary">

						<div class="col-md-3">
							<ul class="list-unstyled">
								<li> <a href="https://www.butte.edu/AB705/">AB 705</a></li>
								<li>
									<a href="https://www.butte.edu/academicsenate/">Academic Senate</a>
								</li>
								<li>
									<a href="https://www.butte.edu/accreditation">Accreditation</a>
								</li>
								<li>
									<a href="https://www.butte.edu/admissions/">Admissions and Records</a>
								</li>
								<li>
									<a href="https://www.butte.edu/athletics/">Athletics</a>
								</li>
								<li>
									<a href="https://www.butte.edu/trustees/">Board of Trustees</a>
								</li>
								<li>
									<a href="https://www.butte.edu/careerservices/">Career Services</a>
								</li>
								<li>
									<a href="https://www.butte.edu/careers/">Career &amp; Technical Programs</a>
								</li>
								<li>
									<a href="https://www.butte.edu/assessment/">Career and Academic Assessment Center</a>
								</li>
								<li>
									<a href="https://www.butte.edu/catalog/">Catalog</a>
								</li>
								<li>
									<a href="https://www.butte.edu/cas/">Center for Academic Success<!--  (CAS) --></a>
								</li>
								<li>
									<a href="https://www.butte.edu/classifiedsenate/">Classified Senate</a>
								</li>
								<li>
									<a href="/community/about/mission_values.html">College Mission</a>
								</li>
								
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-unstyled">
								
								<li>
									<a href="https://www.butte.edu/collegepolice/">College Police</a>
								</li>
								<li>
									<a href="https://www.butte.edu/counseling/">Counseling &amp; Advising</a>
								</li>
								<li>
									<a href="https://www.butte.edu/curriculum/">Curriculum</a>
								</li>
								<li>
									<a href="https://www.butte.edu/dsps/">Disabled Students Programs &amp; Services</a>
								</li>
								<li>
									<a href="https://www.butte.edu/diversity">Diversity, Equity, &amp; Inclusion</a>
								</li>
								<li>
									<a href="https://www.butte.edu/eops/">EOPS</a>
								</li>
								<li>
									<a href="https://www.butte.edu/fpm/">Facilities Planning &amp; Management</a>
								</li>
								<li>
									<a href="https://www.butte.edu/staff/">Faculty and Staff Services</a>
								</li>
								<li>
									<a href="https://www.butte.edu/financialaid/">Financial Aid</a>
								</li>
								<li>
									<a href="/foundation/">Foundation/Giving</a>
								</li>
								<li>
									<a href="https://www.butte.edu/fosterkinship/">Foster/Kinship</a>
								</li>
								<li>
									<a href="https://www.butte.edu/guidedpathways/">Guided Pathways</a>
								</li>
								<li>
									<a href="https://www.butte.edu/hr/">Human Resources</a>
								</li>
								
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-unstyled">
								
								<li>
									<a href="https://www.butte.edu/inspiringscholars/">Inspiring Scholars</a>
								</li>
								<li>
									<a href="https://www.butte.edu/international/">International Students</a>
								</li>
								<li>
									<a href="https://www.butte.edu/itss/">IT Services &amp; Support</a>
								</li>
								<li>
									<a href="https://www.butte.edu/jpce">Job Placement &amp; Cooperative Education</a>
								</li>
								<li>
									<a href="https://www.butte.edu/library/">Library</a>
								</li>
								<li>
									<a href="/portal/">MyBC Portal</a>
								</li>
								<li>
									<a href="https://www.butte.edu/instruction">Office of Instruction</a>
								</li>
								<li>
									<a href="https://www.butte.edu/president/">Office of The President</a>
								</li>
								<li>
									<a href="https://www.butte.edu/distance/">Online Classes</a>
								</li>
								<li>
									<a href="https://www.butte.edu/orientation/">Orientation</a>
								</li>
								<li>
									<a href="https://www.butte.edu/pba/">Planning, Budgeting &amp; Assessment</a>
								</li>
								<li>
									<a href="https://www.butte.edu/prodev/">Professional Development</a>
								</li>
								<li>
									<a href="https://www.butte.edu/promise">Promise Scholarship Program</a>
								</li>
								
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-unstyled">
								
								<li>
									<a href="https://www.butte.edu/careers/publicsafety/">Public Safety Education</a>
								</li>
								<li>
									<a href="https://www.butte.edu/rtc/">Regional Testing Center</a>
								</li>
								<li>
									<a href="https://www.butte.edu/hub/">Roadrunner Hub</a>
								</li>
								<li>
									<a href="https://www.butte.edu/safeplace/">Safe Place &amp; Wellness Program</a>
								</li>
								<li>
									<a href="/foundation/scholarships.html">Scholarships</a>
								</li>
								<li>
									<a href="https://www.butte.edu/shc/">Student Health Clinic</a>
								</li>
								<li>
									<a href="https://www.butte.edu/slo/">Student Learning Outcomes</a>
								</li>
								<li>
									<a href="https://www.butte.edu/studentlife/">Student Life</a>
								</li>
								<li>
									<a href="https://www.butte.edu/studyabroad/">Study Abroad</a>
								</li>
								<!--<li>
									<a href="/sustainability/">Sustainability</a>
								</li>-->
								<li>
									<a href="https://www.butte.edu/titleix/">Title IX</a>
								</li>
								<li>
									<a href="https://www.butte.edu/transfer/">Transfer Counseling Center</a>
								</li>
								<li> 
									<a href="https://www.butte.edu/AB540/">Undocumented &amp; Dream Student Support</a>
								</li>
								<li>
									<a href="https://www.butte.edu/veteransservices/">Veterans Services</a>
								</li>
								<li>
									<a href="https://www.butte.edu/welcomecenter">Welcome Center</a>
								</li>
							</ul>
						</div>
						<a href="#MassiveEducationalSupportServices" class="close" role="button" data-toggle="collapse" aria-controls="MassiveEducationalSupportServices" aria-expanded="true"> <i class="fa fa-times fa-2x white"></i> <span class="hidden">Close</span> </a>
					</div>
					
					<li class="visible-sixfourty">
						<a href="/portal/" title="MyBC Portal" class="nav-link mybc">MyBC Portal</a>
					</li>
				</ul>

			</nav>
	
		</header>
				
		<!-- End Header -->


		<!-- Start Main Photo Area -->

		<section id="hero">

			<!-- Start Slider -->
			
			<div class="slider-wrapper">
	<div id="heroSlider" class="slider responsive">
		<div id="slide1" class="slide">
			<div class="image">
				<img class="img-full hidden-xs" src="/_resources/img/slides/hero%20slider%201.jpeg" alt="Butte College Student" width="1320" height="525" /><img class="img-full visible-xs" src="/_resources/img/slides/hero%20slider%201%20mobile.jpg" alt="Butte College Student" width="767" height="304" />
			</div>
			<div class="overlay">&nbsp;</div>
			<div class="heroText container">
				<h1>Apply Today for Summer <br class="hidden-xs hidden-sm" />and Fall 2022</h1>
				<p class="subline">Online or in person, no matter how you choose to learn, Butte College is here for you!</p>
				<p class="learn"><a class="btn btn-yellow float-left mb-10 hero-link" title="Apply to Butte College" href="https://www.opencccapply.net/gateway/apply?cccMisCode=111&amp;user3=Banner">Apply Now</a></p>
			</div>
		</div>
		<div id="slide2" class="slide">
			<div class="image"><img class="img-full hidden-xs" src="/_resources/img/slides/freebc-desktop.jpg" alt="Butte College Students" /> <img class="img-full visible-xs" src="/_resources/img/slides/freebc-mobile.jpg" alt="Butte College Students" /></div>
			<div class="overlay">&nbsp;</div>
			<div class="heroText container">
				<h1>Attend Butte <br />College for Free!</h1>
				<p class="subline">Butte College offers a number of scholarships and grants to help lower or <br class="hidden-xs hidden-sm" />eliminate the cost of tuition, fees and textbooks. <span class="hidden-xs">Click below to learn more.</span></p>
				<p class="learn"><a class="btn btn-yellow float-left mb-10 hero-link" title="Learn more about tuition assistance" href="/freebc">Learn More</a> <span class="pt-15 inline-block pl-15 float-left pb-15">or <a class="view pl-5" title="Apply to Butte College" href="/apply"><span>Apply Now</span></a></span></p>
			</div>
		</div>
		<div id="slide3" class="slide">
			<div class="image"><img class="img-full hidden-xs" src="/_resources/img/slides/grad.jpg" alt="Butte College Student in Graduation Garb" width="1560" height="618" /> <img class="img-full visible-xs" src="/_resources/img/slides/grad%20mobile.jpg" alt="Butte College Student in Graduation Garb" width="767" height="304" /></div>
			<div class="overlay">&nbsp;</div>
			<div class="heroText container">
				<h1>Register to Participate <br class="hidden-xs hidden-sm" />in Commencement</h1>
				<p class="subline">Butte College&rsquo;s in-person commencement will be held Friday, May 27, 2022. Graduates and graduate candidates who wish <br class="hidden-xs hidden-sm" />to participate must register by May 15, 2022.</p>
				<p class="learn"><a class="btn btn-yellow float-left mb-10 hero-link" title="Learn more about commencement" href="/commencement">Learn More</a> <span class="pt-15 inline-block pl-15 float-left pb-15">or <a class="view pl-5" title="Register Now for Commencement" href="https://butte.inviteright.com/event/response/E43682DA/JTJGJUExJUJCJTBGJTNBJTFDJTlBJUMxJUU0Tm8lRjglMUYlRjIlREElQkIyJTgzJTFBJTNGJTBFWiU3QiU5MCU3RXMlOUElMjclN0QlRkElMUYlMUI=/0/0/"><span>Register Now</span></a></span></p>
			</div>
		</div>
	</div>
					
			<!-- End Slider -->
			<div class="container hero-nav">

				<div id="quicknav" class="row">
					<a href="#" title="Quick Links" id="quickdrop">Quick Links <i class="fa fa-caret-down"></i></a>
					<ul>
						<li>
							<a href="/currentstudents/" title="Current Students Information" class="quicklink">Current Students</a>
						</li>
						<li>
							<a href="/newandreturning/" title="New and Returning Students Information" class="quicklink">New &amp; Returning Students</a>
						</li>
						<li>
							<a href="https://www.butte.edu/highschool/" title="High School Students Information" class="quicklink">High School Students</a>
						</li>
						<li>
							<a href="/business/" title="Business Information" class="quicklink">Business</a>
						</li>
						<li>
							<a href="/community/" title="Community Information" class="quicklink">Community</a>
						</li>
						<li>
							<a href="/community/about/about/aboutus.html" title="About Butte College" class="quicklink">About Us</a>
						</li>
						<li>
							<a href="/portal/" onclick="_gaq.push([&#39;_trackEvent&#39;,&#39;MyBC&#39;,&#39;MyBCclicked&#39;,&#39;MyBCHome&#39;]);" title="Go to MyBC Portal" class="quicklink bclogin"><span class="icon-lock"></span> MyBC Portal</a>
						</li>
					</ul>
				</div>

			</div>

		</section>


		<!-- End Main Photo Area -->

		<!-- Start Welcome Area -->

		<section id="welcome" class="whitebg">

			<div class="container">

				<div class="row">

					<div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
						<div class="row pt-0">
							<!--
							<div class="col-md-5 col-sm-4 col-xs-12 col-md-push-0 col-sm-push-8 hidden-xs">
							<img src="/_resources/img/home/welcome-laptop.jpg" alt="Student on Laptop" class="img-circle img-full pb-15-tablet">
							</div>
							-->
							<div class="col-md-12 col-sm-12 col-xs-12 pr-5 pr-15-mobile">
								<h3 class="mb-5 black pb-3">Apply Now for Summer <br class="hidden-md" />&amp; Fall 2022</h3>

								<p>
									<span>Summer Session begins June 13 <br />
									Fall Semester begins August 22
									</span>
								</p>
								<p>
									<a class="view" href="/community/about/about/whyattend.html">
										<span>Why Choose Butte?</span><i class="fa fa-chevron-right"></i>
									</a>
								</p>

								<p class="pb-0 pb-15-mobile pt-15">
									<strong>
										<a href="/apply" class="btn btn-red">
											Apply Now
										</a>
									</strong>
								</p> 
								<p class="visible-sm visible-xs pb-10">

								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-3 col-xs-12 welcomeBoxes pr-15 pr-15-mobile pl-0 pl-15-mobile equal-height">

						<div id="steps" class="greyborder p-10 mb-15">
							<p class="p-0">
								<a href="https://www.butte.edu/apply" class="view pt-0 pb-0 mb-5" title="Steps to Enroll at Butte College"><span>Steps to Enroll</span><i class="fa fa-chevron-right"></i></a>
								<a href="https://www.butte.edu/orientation/" title="Orientation Information" class="small underline block">Register for Orientation</a>
								<a href="https://www.butte.edu/assessment/cap/" title="Assessment Information" class="small underline block">Complete the CAP Tool</a>
								<a href="https://www.butte.edu/services/counseling-services/onlineappointmentscheduling.html" title="Counseling Appointments" class="small underline block">Meet with a Counselor</a>										
							</p>
						</div>

						<div id="coronavirus" class="redbg p-10 steps hidden-sm hidden-xs">
							<p class="white p-0">
								<a href="/coronavirus/" class="white view pt-0 pb-0 mb-10" title="Coronavirus Updates"><span>Coronavirus Updates</span><i class="fa fa-chevron-right white"></i></a>
								<span class="small">Local resources and recommendations.<a href="/coronavirus/" class="block mt-5 pb-3"><span class="underline white bold">Click Here</span></a></span>
							</p>
						</div>

					</div>

					<div class="col-md-2 col-xs-12 welcomeBoxes pr-0 pl-0 pl-15-mobile pr-15-mobile equal-height">
						<div id="onlineclasses" class="greyborder p-10 mb-15 canvas steps">
							<p class="p-0">
								<a href="https://canvas.butte.edu" class="view pt-0 pb-0 mb-5" title="Canvas Login" onClick="ga('send', 'event', 'Login', 'Click', 'Canvas');"><span>Online Classes</span><i class="fa fa-chevron-right"></i></a>
								<a href="https://canvas.butte.edu" title="Canvas Login" class="small underline block" onClick="ga('send', 'event', 'Login', 'Click', 'Canvas');"><span class="hidden">Canvas Login</span><img src="/_resources/img/home/canvas-logo.jpg" class="img-responsive pt-10 pb-0 hover-fade" alt="Canvas Logo" /></a>									
							</p>
						</div>

						<div id="coronavirus" class="redbg p-10 steps visible-sm visible-xs mb-15">
							<p class="white p-0">
								<a href="/coronavirus/" class="white view pt-0 pb-0 mb-10" title="Coronavirus Updates"><span>Coronavirus Updates</span><i class="fa fa-chevron-right white"></i></a>
								<span class="small">Local resources and recommendations.<a href="/coronavirus/" class="block mt-5 pb-3"><span class="underline white bold">Click Here</span></a></span>
							</p>
						</div>

						<div id="jobs" class="darkgreybg p-10 equal-height relative overflow-hidden steps" style="">
							<img src="/_resources/img/home/campus-center.jpg" class="background" style="opacity: .4;filter: saturate(0);" alt="Campus Center">
							<div class="overlay"></div>
							<div class="textContent" style="position: relative;">
								<p class="p-0">
									<a href="https://www.butte.edu/community/publicrelations/documents/2020-2021%20annual%20report.pdf" class="white view pt-0 pb-0 mb-10" title="Career Opportunities" target="_blank"><span>Annual Report</span><i class="fa fa-chevron-right"></i></a>
									<span class="small white">
										2020-2021 <span class="hidden-md">Annual</span> Report <br class="hidden-xs hidden-sm">to the Community.
										<a href="https://www.butte.edu/community/publicrelations/documents/2020-2021%20annual%20report.pdf" class="block mt-5 pb-3" target="_blank"><span class="underline yellow bold white-hover">Click Here</span></a>
									</span>
								</p>
							</div>
						</div>

					</div>


					<div class="col-md-3 col-xs-12">

						<div id="questions" class="p-15 equal-height">

							<h3 class="mt-3 pl-5">Questions?</h3>

							<ul class="pl-5">
								<li>
									<i class="fa fa-phone"></i><a href="tel:15308952511" title="Call Us">530-895-2511</a> <span style="font-size:.875em;">English</span>
								</li>
								<li>
									<i class="fa fa-phone"></i><a href="tel:15308952284" title="Call Us">530-895-2284</a> <span style="font-size:.875em;">Espa?ol</span>
								</li>										
								<li>
									<i class="fa fa-envelope-o"></i><a href="mailto:questions@butte.edu" title="Email Us">questions@butte.edu</a>
								</li>
								<li>
									<i class="fa fa-info-circle"></i><a href="/welcomecenter/request-info.php" title="Request Information">Request Information</a>
								</li>
								<!--<li>
								<i class="fa fa-map-marker"></i><a href="/welcomecenter/request-tour.php" title="Request Campus Tour">Request Campus Tour</a>
								</li>-->									

								<li>
									<i>or</i><a href="/help" title="Find Helpful Information">find help here</a>
								</li>
							</ul>

						</div>


					</div>

				</div>

			</div>

		</section>

		<!-- End Welcome Section -->

		<!-- Dash Cares -->

		<section id="dashcares" class="greybg content p-0">

			<div class="container">

				<div class="row">

					<div class="col-md-6 col-sm-12 pt-30 mt-15 pb-30 pt-15-mobile pb-0-mobile pr-30-xs pl-30-xs equal-height">
						<h3>
							DASH to the Rescue!
						</h3>
						<h4 class="yellowbg black p-10 h5 mt-0 grey-right-angle-corner">
							Help for Financial Emergencies and Disaster Recovery
						</h4>
						<p class="pt-5 font-18">
							Find details, reports, and application links for CARES Act funds and other aid to help with financial emergencies or disaster recovery. 
						</p>
						<p>
							<a href="/dashcares/" class="btn btn-black mb-0 mt-10">Learn More</a>
						</p>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 mt-15 equal-height mascot-flex">
						<img src="/_resources/img/home/dash-cares-cutoff.png" alt="Dash Mascot" class="img-full float-right" />
					</div>

				</div>

			</div>

		</section>

		<!-- End Dash Cares -->

		<!-- Begin Testimonials -->

		<section id="testimonials" class="blackbg">

			<div class="container">

				<div class="row">

					<div class="col-md-6">

						<div class="testimonial-title">

							<h4 class="white">Featured Testimonial</h4>
							<a href="/community/publicrelations/testimonials.html" title="View All Testimonials" class="yellow mt-10 mb-20 block">View All</a>

						</div>

						<div class="testimonial-text">

							<p class="mb-20 mt-0">
								<span class="quote">"</span>A lesson I learned while attending Butte College during a pandemic is that there is a lot more grace that people are willing to offer than we might originally think.<span class="quote">"</span>
							</p>
						</div>

						<div class="testimonial-detail">

							<div class="student">
								<span class="name">- Madison Connaughton</span>
								<span class="major pb-30-mobile">AA in Art History and History</span>
							</div>

							<!--<a class="fancybox-media" href="https://www.youtube.com/watch?v=pkDnyva6EPs&amp;list=PLpZV_Ig25Ahcjy8wmZruJMkbClkFd-fpL&amp;index=3" title="View Testimonial">-->
								<img src="/_resources/img/home/testimonial-madison.jpg" alt="Student in Regalia">
							<!--</a>-->

						</div>

					</div>

					<div class="col-md-6">
						<div class="embed-responsive embed-responsive-16by9 clear"><!-- video flack area -->
							<iframe title="Butte College Promo Video" width="640" height="360" src="https://www.youtube.com/embed/zgDaugT5t40" allowfullscreen></iframe>
						</div>
					</div>

				</div>

			</div>

		</section>

		<!-- End Testimonials -->


		<!-- Begin News and Events -->

		<section id="news" class="whitebg">

			<div class="container">

				<div class="row">

					<div class="col-md-4">
						<!-- Academic Dates -->
						<div class="academic-date-header updated">
							<h3 class="m-0 float-none"><i class="fa fa-calendar hidden-large-tablet" aria-hidden="true"></i> Academic Dates <a href="/admissions/AcademicCalendar.html" class="yellow pull-right"><span class="hidden">View More</span><i class="fa fa-chevron-right"></i></a></h3>
						</div>
						<div class="academic-dates updated">
							<ul id="adx020545" class="event-list float-none">
								<li>Loading Events...</li>
							</ul>
						</div>
						<!-- end Academic Dates -->

					</div> <!-- Slider -->

					<div class="col-md-4 lists">
						<h3><span class="icon-events"></span> Events</h3>
						<a href="/calendars" title="View All Events" class="view"><span>All Events</span><i class="fa fa-chevron-right"></i></a>
						<p class="news-sub">
							Upcoming Butte College Events
							<a href="http://calendar.butte.edu/RSSSyndicator.aspx?type=N&number=3&category=11-0%2c1-20%c17-0%2c3-0%2c5-0&numdays=120&rsstitle=Upcoming+Butte+College+Events&sortorder=ASC" title="RSS Feed"><i class="fa fa-rss-square"></i><span class="hidden" style="color:#fff;">RSS Feed</span></a>
						</p>
						<ul class="event-list" id="adx110894">									
							<li>Loading Events...</li>
						</ul>
					</div> <!-- Calendar -->

					<div class="col-md-4 lists">
						<h3><span class="icon-news"></span> News</h3>
						<a href="/feeds/" title="View All News" class="view"><span>All News</span><i class="fa fa-chevron-right"></i></a>
						<p class="news-sub">
							Latest Butte College News
						</p>
						<ul id="news-list">


						</ul>
					</div> <!-- News Feed -->

				</div>

			</div>
			
			<!-- Board Meeting Select -->
			
			<div class="container">
				<div class="pt-30 mt-15 mt-0-mobile pt-15-mobile pr-15-xs pl-15-xs pt-0-xs pb-15-xs">
					<div id="joinMeeting" class="clearfix p-15 greybg mt-45 mt-15-mobile border-radius-5" style="
">
						<div class="col-md-4 text-center p-0 mt-2 mb-0 pb-10-xs">
							<h4 class=" pt-20 mt-5 pb-15-mobile pt-5-mobile pr-0-mobile">Join a Board Meeting<span class="hidden-xs hidden-sm">:</span></h4>
						</div>
						<div class="col-md-6 col-sm-8 pt-15 pb-15 p-15-mobile down-arrow pl-0 pl-15-tablet">
							<select id="boards">
								<option value="https://www.butte.edu/community/getting_involved/contacts/trustees/minutes.html" selected="">Board of Trustees</option>
								<option value="https://www.butte.edu/foundation/board">Butte College Foundation</option>
								<option value="https://www.butte.edu/community/measure_j/meeting_calendar.html">Measure J CBOC</option>
								<option value="https://www.butte.edu/departments/governance/academicsenate/AcademicSenateAgendas.html">Academic Senate</option>
								<option value="https://www.butte.edu/governance/classifiedsenate/Agenda.html">Classified Senate</option>
							</select>
						</div>
						<div class="col-md-2 col-sm-4 p-15 pt-0-xs">
							<button id="meetingSubmit" class="btn btn-yellow full-width mt-0 submit">Join Now</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- End Board Meeting -->

		</section>

		<!-- End News and Events -->

		<!-- Begin Sublinks Section -->

		<section id="sublinks" class="greybg">

			<div class="container">

				<div class="row">

					<div class="col-md-4">
						<div class="sublink">
							<img src="/_sm180/assets/img/butte-college-bus-schedule.jpg" alt="Dash coming off of bus">
							<h2><a href="/bus" title="View the Bus Schedule">Bus Schedule <i class="fa fa-chevron-right yellow"></i></a></h2>
						</div>
					</div>

					<div class="col-md-4">
						<div class="sublink">
							<img src="/_sm180/assets/img/butte-college-athletics.jpg" alt="Track team looking good">
							<h2><a href="/athletics/" title="Go to Athletics">Athletics <i class="fa fa-chevron-right yellow"></i></a></h2>
						</div>
					</div>

					<div class="col-md-4">
						<div class="sublink">
							<img src="/_sm180/assets/img/butte-college-locations.jpg" alt="The SAS building">
							<h2><a href="/maps/" title="Find Our Locations">Our Locations <i class="fa fa-chevron-right yellow"></i></a></h2>
						</div>
					</div>

				</div>

			</div>

		</section>

		<!-- End Sublinks -->

		<!-- Begin Footer Callout -->

		<section id="callout" class="yellowbg">

			<h2><img src="/_sm180/assets/img/start-here-background.jpg" class="background" alt="Start Here Background"></h2>

			<div class="container text-center">

				<img src="/_sm180/assets/img/butte-college-logo-text.png" alt="Butte College">
				<img src="/_sm180/assets/img/start-here-go-anywhere.png" alt="Start Here, Go Anywhere" class="img-full">

			</div>

		</section>

		<!-- End Footer Callout -->
		
		<!-- Join Meeting
		
		<section id="meeting" class="p-0" style="background: #121212;">
			<div class="container">
				<div class="pr-15-mobile pl-15-mobile pt-15-mobile pb-15-mobile pt-30-xs pb-30-xs">
					<div id="joinMeeting" class="clearfix p-15">
						<div class="col-md-4 text-center p-0 mt-2">
							<h4 class="yellow pt-20 mt-5 pb-15-mobile pt-5-mobile pr-15 pr-0-mobile">Join a Board Meeting<span class="hidden-xs hidden-sm">:</span></h4>
						</div>
						<div class="col-md-5 col-sm-8 pt-15 pr-0 pb-15 pl-0 p-15-mobile down-arrow">
							<select id="boards">
								<option value="https://www.butte.edu/community/getting_involved/contacts/trustees/minutes.html" selected>Board of Governors</option>
								<option value="https://www.butte.edu/foundation/board">Butte College Foundation</option>
								<option value="https://www.butte.edu/community/measure_j/citizens_bond_oversight_committee.html">Measure J CBOC</option>
							</select>
						</div>
						<div class="col-md-3 col-sm-4 p-15 pt-0-xs">
							<button id="meetingSubmit" class="btn btn-yellow full-width mt-0 submit">Join Now</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		End Join Meeting -->

		<!-- Begin Main Footer -->

		


<footer class="blackbg">

	<div class="container">

		<div class="row">

			<div class="col-md-8 col-md-push-4">

				<div class="row">

					<div class="col-md-4 col-sm-4">
						<h3>Campus Life</h3>
						<ul>
							<li><a href="https://www.butte.edu/athletics/">Athletics</a></li>
							<li><a href="http://buttecollegebookstore.com/">Bookstore</a></li>
							<li><a href="https://www.butte.edu/maps/">Campus Map</a></li>
							<li><a href="https://www.butte.edu/library/">Library</a></li>
							<li><a href="https://www.butte.edu/highschool/parents/request_tour.html" onclick="_gaq.push(['_trackEvent','RequestTour','Click', 'subPages']);">Request a Tour</a></li>
							<li><a href="https://www.butte.edu/studentlife/">Student Life</a></li>
						</ul>
					</div>

					<div class="col-md-4 col-sm-4">
						<h3>Resources</h3>
						<ul>
							<li><a onclick="_gaq.push(['_trackEvent','A11y','GlobalLink','a11lS7tSubPages']);" href="https://www.butte.edu/accessibilitystatement">Accessibility Statement</a></li>
							<li><a href="https://www.butte.edu/bus">Bus Schedule</a></li>
							<li><a href="https://www.butte.edu/calendars/">Calendars</a></li>
							<li><a href="https://www.butte.edu/catalog/">Catalog</a></li>
							<li><a href="https://www.butte.edu/international/">International Students</a></li>
							<li><a href="https://www.butte.edu/directory/">Staff Directory</a></li>
							</ul>
						</div>

					<div class="col-md-4 col-sm-4">
						<h3>Information</h3>
						<ul>
							<li><a href="https://www.butte.edu/accreditation">Accreditation</a></li>
							<li><a href="https://www.butte.edu/diversity">Diversity</a></li>
							<li><a href="https://www.schooljobs.com/careers/buttecc" target="_blank">Job Opportunities</a></li>
							<li><a href="/foundation/">Make a Gift</a></li>
							<li><a href="https://www.butte.edu/onlineclasses/" onclick="_gaq.push(['_trackEvent','OnlineClassesPage','Click', 'subPages']);">Online Classes</a></li>
							<li><a href="/foundation/scholarships.html">Scholarships</a></li>
							<li><a href="https://selfservice.butte.edu/Student/Courses">Search for Classes</a></li>
							<li><a href="/privacy/">Privacy Policy</a></li>
							</ul>
						</div>

					</div>

				</div>

				<div class="col-md-4 col-md-pull-8">

					<div class="contact">

						<div class="col-sm-5 col-xs-12 circle-logo">

							<img src="//www.butte.edu/_sm180/assets/img/butte-college-circle-logo.png" alt="Butte College Logo" class="img-full">

						</div>

						<div class="col-sm-7 col-xs-12 address">

							<p>
								<a href="https://goo.gl/maps/gx8hjCkTvBJ2" target="_blank" rel="noopener" title="Get Directions" class="directions"> 3536 Butte Campus Drive
								<br/>
								Oroville, CA 95965 </a>
							</p>

							<p>
								<a href="tel:+15308952511" title="Call Us">530-895-2511</a> <span class="fontweight-normal">English</span>
							</p>
							
							<p>
								<a href="tel:+15308952284" title="Ll?manos">530-895-2284</a> <span class="fontweight-normal">Espa&ntilde;ol</span>
							</p>

							<p>
								<a href="mailto:questions@butte.edu" title="Email Us">questions@butte.edu</a>
							</p>
	
						</div>

					</div>

					<div class="social">
						<ul>
							<li>
								<a href="https://www.instagram.com/buttecollege/" onclick="_gaq.push(['_trackEvent','social','clicked', 'instagram-home']);" target="_blank" rel="noopener" title="Instagram"><i class="fa fa-instagram"></i><span class="hidden">Instagram</span></a>
							</li>
							<li>
								<a  href="https://www.facebook.com/ButteCollege" onclick="_gaq.push(['_trackEvent','social','clicked', 'facebook-home']);" target="_blank" rel="noopener" title="Facebook"><i class="fa fa-facebook"></i><span class="hidden">Facebook</span></a>
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UCRZRDr944pc4c_SJK1s-v7w" onclick="_gaq.push(['_trackEvent','social','clicked', 'youtube-home']);" target="_blank" rel="noopener" title="YouTube"><i class="fa fa-youtube"></i><span class="hidden">Youtube</span></a>
							</li>
							<li>
								<a  href="https://twitter.com/buttecollege" onclick="_gaq.push(['_trackEvent','social','clicked', 'twitter-home']);" target="_blank" rel="noopener" title="Twitter"><i class="fa fa-twitter"></i><span class="hidden">Twitter</span></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/edu/school?id=31995" onclick="_gaq.push(['_trackEvent','social','clicked', 'linkedin-home']);" target="_blank" rel="noopener" title="Linkedin"><i class="fa fa-linkedin"><span class="hidden">Linkedin</span></i></a>
							</li>
							<li>
								<a href="https://www.flickr.com/photos/144060536@N05/albums" onclick="_gaq.push(['_trackEvent','social','clicked', 'flickr-home']);" target="_blank" rel="noopener" title="Flickr"><i class="fa fa-flickr"></i><span class="hidden">Flickr</span></a>
							</li>
								
						</ul>
					</div>

				<div class="row">
					<ul id="footer-links">
						<li class="col-md-6 col-sm-6 col-xs-12">
							<a href="https://www.butte.edu/curriculum/adt.html" title="Associate Degree for Transfer Information"><img src="//www.butte.edu/_sm180/assets/img/associate-degree-for-transfer-logo.png" alt="Associate Degree for Transfer"></a>
						</li>
						<li class="col-md-6 col-sm-6 col-xs-12">
							<a href="http://bit.ly/SalarySurfer" title="Learn about Salary Surfer"><img src="//www.butte.edu/_sm180/assets/img/salary-surfer-logo.png" alt="Salary Surfer"></a>
						</li>
					</ul>
				</div>

			</div>
			
			<div class="row" style="padding:1em;">

				<div class="col-md-5 col-md-offset-4 text-center-mobile" style="margin-top:-4.15em; font-size:.875em;color:#999; line-height:1.5;">Butte College does not permit discrimination or harassment in its programs or activities as stated in our <a href="https://www.butte.edu/titleix" class="yellow white-hover">Non-Discrimination Statement</a></div>
			</div>

		</div>

	</div>
		
</footer>						
		

<!-- End Footer -->

		<!-- all the rest -->

		


<!-- Footer Code -->
	
		<script src="/_resources/js/jquery.min.js" property="script"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		
<!-- Start Async Scripts -->

		<script src="/_resources/js/bootstrap.min.js" property="script"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_resources/js/jquery.validate.min.js" property="script" defer></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_sm180/assets/fancybox/source/jquery.fancybox.pack.js" property="script" defer></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_sm180/assets/fancybox/source/helpers/jquery.fancybox-media.js" property="script" defer></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_sm180/assets/js/owl.carousel.min.js" property="script"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_sm180/assets/js/jquery.truncate.js" property="script" defer></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_resources/js/jquery.matchHeight-min.js" property="script"></script>
		<noscript>Your browser does not support JavaScript!</noscript>

<!-- End Async Scripts -->

<!-- Begin Footer Scripts -->

		<script src="/_resources/js/modernizr-custom.js" property="script"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="/_resources/js/scripts.js" property="script"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<!-- Check for Active Nav Script...if not found, check folder down -->
		<script>
			// Include this script for now - Remove once all pages converted properly  
			$.ajax({
				url:'assets/active.nav.js',
				type:'HEAD',
				error: function()
				{
					$.ajax({
						url:'../assets/active.nav.js',
						type:'HEAD',
						error: function()
						{
							$.getScript('../../assets/active.nav.js');
						},
						success: function()
						{
							$.getScript('../assets/active.nav.js');
						}
					});
				},
				success: function()
				{
					$.getScript('assets/active.nav.js');
				}
			});
			
		</script>
		<noscript>Your browser does not support JavaScript!</noscript>

<!-- End Footer Scripts -->

<!-- Fonts -->

		<!--<link href="//fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" property="stylesheet">-->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" property="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" property="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" property="stylesheet">

		<!--<link rel="stylesheet" href="/_resources/css/font-awesome.min.css" property="stylesheet">-->
		
<!-- End Fonts -->

<!-- Begin Non-Blocking CSS -->

		
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/_resources/css/owl.carousel.min.css">
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/_resources/css/owl.theme.min.css">
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/_resources/css/owl.transitions.css">
		<link rel="stylesheet" property="stylesheet" href="/_sm180/assets/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" property="stylesheet" href="/_sm180/assets/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
		<link rel="stylesheet" property="stylesheet" href="/_resources/css/bootstrap.min.css" crossorigin="anonymous">
		
<!-- End Non-Blocking CSS -->

<!-- Stylesheets -->
		
		<!--<link rel="preload" href="/_resources/css/style.css" as="style" onload="this.rel='stylesheet'">-->
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/_resources/css/style.css">
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/_resources/css/responsive.css">
		<link rel="stylesheet" property="stylesheet" type="text/css" media="print" href="/_sm180/assets/css/style-subpages-print.css" />

<!-- End Stylesheets -->

<!--[if lt IE 9]>  
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<noscript>Your browser does not support JavaScript!</noscript>
<![endif]-->

<script>
	/* automatically pulls the direct edit button from the publishes pages without the need to define Button Code */
	function directedit() {
		if(document.getElementById("de") != null && document.getElementById("directedit")) {
			var link = document.getElementById("de").children[0].href;
			document.getElementById("de").innerHTML = "";
			document.getElementById("directedit").href = link;
		}
	}
	window.onload = function() { directedit() };
</script>
<noscript>Your browser does not support JavaScript!</noscript>


<!-- End Footer Code -->
		

<!-- end all the rest -->

		<style>
			#datestamp a { color: #999; }
			#jobBoard {background-color: #3a3a3a !important;overflow: hidden;position: relative;}
			#questions li {padding-bottom: 12px;}
			@media screen and (max-width:991px) {
				#jobBoard {
					margin: 15px 15px 0;
				}
			}
		</style>

		<div id="datestamp" style="font-size: .75em; text-decoration: none;padding-bottom:15px;" class="text-center blackbg">
			<a href="https://a.cms.omniupdate.com/11/?skin=oucampus&amp;account=butte&amp;site=www&amp;action=de&amp;path=/index.html"> 4/29/22</a>
</div>
		<!-- Academic Events -->
		<script type="text/javascript">if (typeof jQuery != 'undefined') {
	jQuery(document).ready(function () {
		var adx="No Events.";
		jQuery.ajax({ dataType: 'script', url: 'https://calendar.butte.edu/EventListSyndicator.aspx?type=N&number=6&category=4-0&department=6&adpid=38&nem=No+events+are+available+that+match+your+request&sortorder=ASC&ver=2.0&target=adx020545'
					});setTimeout(function() {if(typeof response=='undefined'){jQuery('#adx020545').html(adx);}}, 5000);
	});}else { document.getElementById('adx020545').innerHTML = 'Events are temporarily unavailable'; }</script>

		<!-- Calendar Code -->

		<script type="text/javascript">
			if (typeof jQuery != 'undefined') {
				jQuery(document).ready(function () {
					var adx="Events are temporarily unavailable. Please check back later.";
					jQuery.ajax({ dataType: 'script', url: 'https://calendar.butte.edu/EventListSyndicator.aspx?type=N&number=4&category=11-0%2c17-0%2c22-0%2c32-0%2c3-0%2c18-0%2c13-0%2c5-0%2c6-0%2c36-0%2c33-0%2c2-0%2c34-0%2c37-0&numdays=360&expire=Y&ics=Y&adpid=30&nem=No+events+are+available+that+match+your+request.&sortorder=ASC&ver=2.0&target=adx110894'
								});setTimeout(function() {if(typeof response=='undefined'){jQuery('#adx110894').html(adx);}}, 5000);
				});}else { document.getElementById('adx110894').innerHTML = 'Events are temporarily unavailable because the jQuery library cannot be located.'; }
		</script>


		<!-- News Code -->

		<script>
			jQuery(document).ready(function(){
				$.ajax({
					type: "GET" ,
					url: window.location.protocol + "//" + window.location.host + "/feeds/butte_news.xml" ,
					dataType: "xml" ,
					success: function(xml) {
						var i = 0;
						$(xml).find('item').each(function(index){
							i++;
							if(i>4) return false;
							var title = $(this).find('title').text();
							var link = $(this).find('link').text();
							var description = $(this).find('description').text();
							var shortDescription = jQuery.trim(description).substring(0, 165)
							.split(" ").slice(0, -1).join(" ") + "...";
							$('#news-list').append(

								'<li><span class="event-title"><a href="'+link+'" title="View Article">'+title+'</a></span>\
<p>'+shortDescription+'</p></li>'
							);
						});
					},
					error: function() {
						$('#news-list').text("Failed to get xml");
					}    
				});
			});	

		</script>
		<!-- End News script -->

		<!-- Auto Height Hero Section -->

		<script>

			var heroHeight = function() {

				var windowWidth = $(window).width();
				var windowHeight = $(window).height();
				var headerHeight = $('header').height();
				var welcomeHeight = $('#welcome').height() + 60;
				var combinedHeight = welcomeHeight + headerHeight;
				var heroHeightMax = windowHeight - combinedHeight;

				if (windowWidth >= 1350 && heroHeightMax >= 365) {
					$('#hero .slider .slide').css('max-height', heroHeightMax);
				}
				if (windowWidth >= 1350 && heroHeightMax <= 365) {
					$('#hero .slider .slide').css('max-height', 365);
				}
				if (windowWidth <= 1349) {
					$('#hero .slider .slide').css('min-height', 'none');
					$('#hero .slider .slide').css('max-height', 'none');
				}

			}

			$(document).ready(function() { 

				heroHeight();

			});

			$(window).resize(function() {

				heroHeight();

			});

		</script>
		<style>
			.redbg .view.white span {
				border-color: #fff;
			}
			#dashcares .mascot-flex {display:flex;align-items:baseline;}
			.mascot-flex img {
				margin-top:auto;
			}
			.canvas img {max-width:175px !important;}
			#dashcares .btn {font-weight:600;font-size:1em;}
			.welcomeBoxes #steps .small {letter-spacing:-.25px;}
			.hover-fade:hover {opacity:.8;}
			@media not all and (min-resolution:.001dpcm)
			{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
				.welcomeBoxes #steps .small {
					padding-top: 2px !important;
				}
			}}
			@-moz-document url-prefix() { 
				.welcomeBoxes #steps .small {
					padding-top: 2px !important;
				}
			}
			@media screen and (min-width:1350px) and (max-height:800px) {
				#hero .image img {margin-top:-5%;}
			}
			@media screen and (min-width:1350px) and (min-height:801px) and (max-height:900px) {
				#hero .image img {margin-top:-3.5%;}
			}	
			@media screen and (max-width:1199px) and (min-width:992px) {
				#welcome .view {letter-spacing:-.25px;}
				.canvas img {
					margin-top: 3px !important;
					margin-bottom: 10px !important;
				}
			}
			@media screen and (max-width: 991px) and (min-width:768px) {
				#hero .slider #slide2 p.subline {
					max-width: 65% !important;
				}
			}
			@media screen and (max-width:835px) and (min-width:768px) {
				#hero .slider #slide1 p.subline {max-width:100% !important;}
			}
		</style>

		<script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js2"></script>

		<!-- Board Meetings Script -->
		<script>
			$(function(){
			  // bind change event to select
			  $('#boards').on('change', function () {
				  var url = $(this).val(); // get selected value
				  console.log(url);
				  return false;
			  });
			  $('#meetingSubmit').on('click', function () {
				  var url = $('#boards').val();
				  if (url) { // require a URL
					  window.location = url; // redirect
				}
			  })	
			});
		</script>
		
		<!-- Alerts Scripts -->
		
		<script src="https://www.butte.edu/ou-alerts/alerts-config.alerts.js?v=2.0-20210401165406"></script>
<script>
	// archive alert processing
	if (document.getElementById(ouEmergencyAlerts.archivedAlertDivId)) {
		ouEmergencyAlerts.loadAlertFeed("processAlertFeedForArchivePage", "activeAlertFeed", "archiveActiveAlertHeading");  
		setTimeout(function() {
			ouEmergencyAlerts.loadAlertFeed("processAlertFeedForArchivePage", "archiveAlertFeed", "archiveAlertHeading");
		}, 200);
	}
	// active alert processing
	ouEmergencyAlerts.determineActiveAlertOutput();
</script><script type="text/template" id="oualerts-active-announcement">
<div id="oualerts-active-alert-display" class="oualerts-notify oualerts-notify-announcement oualerts-top oualerts-top-fixed ouAlertsFadeInDown oualerts-animated-fast">
	<div class="oualerts-notify-body">
		{% if (o.showDate) { %}
		<div class="oualerts-notify-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</div>
		{% } %}
		<h3 class="oualerts-notify-title">
			
						<svg class="oualerts-notify-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 271 286"><path fill-rule="evenodd" d="M241.964 157.267v69.997c0 5.11-5.639 8.199-9.934 5.442l-86.454-55.51h-13.388l11.06 28.862c18.297 3.828 32.042 20.078 32.042 39.544 0 22.311-18.056 40.398-40.328 40.398-17.471 0-32.347-11.13-37.949-26.698l-.0122.005-31.4593-82.111h-5.3193C26.9624 177.196 0 150.187 0 116.869c0-33.3175 26.9624-60.3268 60.2222-60.3268h85.3538L232.03 1.0324c4.295-2.7574 9.934.3319 9.934 5.4417v69.9975h18.282c5.939 0 10.754 4.8231 10.754 10.7727v59.2497c0 5.95-4.815 10.773-10.754 10.773h-18.282zm-15.055 54.237l-75.278-48.334V70.5682l75.278-48.3337V211.504zm15.055-69.319h13.98V91.5533h-13.98v50.6317z" clip-rule="evenodd"/></svg>
					
			{%=o.title%}
		</h3>
		{% if (o.subtitle) { %}
		<p class="oualerts-notify-subtitle"><strong>{%=o.subtitle %}</strong></p>
		{% } %}
		{% if (o.description) { %}
		<p class="oualerts-notify-msg">{%=o.description %}
			{% } %}
			{% if (o.guid) { %}
			<br>
			<a href="{%=o.guid %}" class="oualerts-notify-link">Read More...</a>
			{% } %}
			{% if (o.description) { %}
		</p>
		{% } %}
		<p class="oualerts-notify-footer">
			<button class="oualerts-close-button" id="oualerts-close-button">Close</button>
		</p>
	</div>
</div>
</script>
<script type="text/template" id="oualerts-active-warning">
<div id="oualerts-active-alert-display" class="oualerts-notify oualerts-notify-warning oualerts-top oualerts-top-fixed ouAlertsFadeInDown oualerts-animated-fast">
	<div class="oualerts-notify-body">
		{% if (o.showDate) { %}
		<div class="oualerts-notify-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</div>
		{% } %}
		<h3 class="oualerts-notify-title">
			
						<svg class="oualerts-notify-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 273 273"><path fill-rule="evenodd" d="M273 136.5c0 75.387-61.113 136.5-136.5 136.5C61.1131 273 0 211.887 0 136.5 0 61.1131 61.1131 0 136.5 0 211.887 0 273 61.1131 273 136.5zM123 58v105h27V58h-27zm0 157v-26.5h27V215h-27z" clip-rule="evenodd"/></svg>
					
			{%=o.title%}
		</h3>
		{% if (o.subtitle) { %}
		<p class="oualerts-notify-subtitle"><strong>{%=o.subtitle %}</strong></p>
		{% } %}
		{% if (o.description) { %}
		<p class="oualerts-notify-msg">{%=o.description %}
			{% } %}
			{% if (o.guid) { %}
			<br>
			<a href="{%=o.guid %}" class="oualerts-notify-link">View Class Schedule</a>
			{% } %}
			{% if (o.description) { %}
		</p>
		{% } %}
		<p class="oualerts-notify-footer">
			<button class="oualerts-close-button" id="oualerts-close-button">Close</button>
		</p>
	</div>
</div>
</script>
<script type="text/template" id="oualerts-active-emergency">
<div id="oualerts-active-alert-display" class="oualerts-notify oualerts-notify-emergency oualerts-top oualerts-top-fixed ouAlertsFadeInDown oualerts-animated-fast">
	<div class="oualerts-notify-body">
		{% if (o.showDate) { %}
		<div class="oualerts-notify-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</div>
		{% } %}
		<h3 class="oualerts-notify-title">
			
						<svg class="oualerts-notify-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 298 273"><path fill-rule="evenodd" d="M137.626 7.553c4.947-8.9403 17.801-8.9403 22.748 0l135.948 245.652c4.795 8.665-1.471 19.295-11.374 19.295H13.0524c-9.903 0-16.1695-10.63-11.3744-19.295L137.626 7.553zM136.5 85v100h25V85h-25zm0 149.5v-24h25v24h-25z" clip-rule="evenodd"/></svg>
					
			{%=o.title%}
		</h3>
		{% if (o.subtitle) { %}
		<p class="oualerts-notify-subtitle"><strong>{%=o.subtitle %}</strong></p>
		{% } %}
		{% if (o.description) { %}
		<p class="oualerts-notify-msg">{%=o.description %}
			{% } %}
			{% if (o.guid) { %}
			<br>
			<a href="{%=o.guid %}" class="oualerts-notify-link">Read More...</a>
			{% } %}
			{% if (o.description) { %}
		</p>
		{% } %}
		<p class="oualerts-notify-footer">
			<button class="oualerts-close-button" id="oualerts-close-button">Close</button>
		</p>
	</div>
</div>
</script>
<script type="text/template" id="oualerts-archived-template">
{% if (o[0].htmlHeading) { %}
<h2 class="oualerts-archive-main-heading">{%=o[0].htmlHeading %}</h2>
{% } %}
<ul class="oualerts-achive-list">
	{% for (var i=0; o.length > i; i++) { %}
	<li class="oualerts-achive-list-item oualerts-archive-type-{%=o[i].severity%}">
		<div class="oualerts-achive-list-item-inner">
			<h3 class="oualerts-archive-title">{%=o[i].title%}</h3>
			<div class="oualerts-archive-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o[i].pubDate)%}</div>
			{% if (o[i].subtitle) { %}
			<p class="oualerts-archive-subtitle"><strong>{%=o[i].subtitle %}</strong></p>
			{% } %}
			{% if (o[i].description) { %}
			<p class="oualerts-archive-msg">{%=o[i].description %}
				{% } %}
				{% if (o[i].guid) { %}
				<a href="{%=o[i].guid %}" class="oualerts-archive-link">{%=ouEmergencyAlerts[o[i].severity + "Archive"].readMoreText%}</a>
				{% } %}
				{% if (o[i].description) { %}
			</p>
			{% } %}
			{% if (o[i].updates) { %}
			<h4 class="oualerts-archive-list-update-header">{%=ouEmergencyAlerts[o[i].severity + "Archive"].updateText %}</h4>
			<ul class="oualerts-achive-list-update">
				{% for (var k=0; o[i].updates.length > k; k++) { %}
				<li class="oualerts-achive-list-item-update">
					<div class="oualerts-achive-list-item-update-inner">
						<h5 class="oualerts-archive-title-update">{%=o[i].updates[k].title%}</h5>
						<div class="oualerts-archive-date-update">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o[i].updates[k].pubDate)%}</div>
						{% if (o[i].updates[k].subtitle) { %}
						<p class="oualerts-archive-subtitle-update"><strong>{%=o[i].updates[k].subtitle %}</strong></p>
						{% } %}
						{% if (o[i].updates[k].description) { %}
						<p class="oualerts-archive-msg-update">{%=o[i].updates[k].description %}
							{% } %}
							{% if (o[i].updates[k].guid) { %}
							<a href="{%=o[i].updates[k].guid %}" class="oualerts-archive-link-update">{%=ouEmergencyAlerts[o[i].severity + "Archive"].readMoreText%}</a>
							{% } %}
							{% if (o[i].updates[k].description) { %}
						</p>
						{% } %}
					</div>
				</li>
				{% } %}
			</ul>
			{% } %}
		</div>
	</li>
	{% } %}
</ul>
</script>
		
	</body>
</html>