<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]--><!--[if IE 9]><html class="no-js gt-ie9 ie9" ><![endif]--><!--[if gt IE 8]><!--><html class="no-js gt-ie9" lang="en"><!--<![endif]-->
   <head>
      <!-- OU Search Ignore Start Here -->
<!-- headcode include -->
<!--
	Description: Troy University Theme
	Version: 1.0
	Author: VisionPoint Marketing
//-->
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>

<!-- #DNS prefetching -->
<!-- http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers -->
<link rel="dns-prefetch" href="//ajax.googleapis.com"/>

<meta name="robots" content="all"/>

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<!-- FB Verif -->
<meta name="facebook-domain-verification" content="6e8yy9ifj2nio5v6pxkxvshgea1cri" />

<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
<!-- http://mathiasbynens.be/notes/rel-shortcut-icon -->
<!-- http://mathiasbynens.be/notes/touch-icons -->
<link rel="icon" type="image/ico" href="/_resources/images/favicon.ico"/>
<link rel="icon" type="image/png" href="/_resources/images/favicon.png"/>

<!-- Vendor -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/_resources/js/libs/jquery-flipster/jquery.flipster.min.css" />
<link rel="stylesheet" href="/_resources/css/slick.css"/>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7CRoboto%7CRoboto+Slab:300,400" rel="stylesheet"/>

<!-- CSS styles -->
<link rel="stylesheet" href="/_resources/css/styles.css?04102020"/>

<link rel="stylesheet" href="/_resources/css/flipster.fix.css"/>

<!-- Modernizer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!-- oustyles -->
<link rel="stylesheet" href="/_resources/css/oustyles.css?04102020" />

<!-- Facebook Pixel Code - IG -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '649866822231669'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" alt="" style="display:none;"
src="https://www.facebook.com/tr?id=649866822231669&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->      <!-- OU Search Ignore End Here -->
      <link rel="prefetch" href="/index.html">
      <title>Troy University</title>
      <meta name="Description" content="From award-winning academic opportunities to exciting Division I athletics events, Troy University provides students around the globe with top-notch learning opportunities?in class and online. For 15 consecutive years, TROY has been named to The Princeton Review¡¯s ¡°Best in the Southeast¡± list. It¡¯s your time to Lead Change.">
      <!-- OU Search Ignore Start Here -->      <!-- OU Search Ignore End Here -->
      <!-- OU Search Ignore Start Here --><!-- Google Tag Manager -->

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-NHZ585V');</script>

<!-- End Google Tag Manager -->      <!-- OU Search Ignore End Here --><style>
				.home-page .image-background {
				background-image: url(/_dev/new-home-page/_images/homepage-banner.jpg);
				}
			</style>
      		<script src="https://api.meritpages.com/merit.js"></script>
      		<style>
			.feed-excerpt {
				font-size: 0;
				line-height: 0;
			}
			.feed-excerpt p:first-child {
				font-size: 14px;
				line-height: 1.5;
			}
			.feed-excerpt p:not(:first-child) {
				display: none;
			}
		</style>
      	<style>
				[v-cloak] {
					display: none;
				}
				/* add style for clipboard copying */
				[id^="ouparsing-result-listing-"] {
					position:absolute;
					left:-10000px;
					top:auto;
					width:1px;
					height:1px;
					overflow:hidden;
				}
			</style><script>
				var oucParsing;
			</script><script type="text/javascript">
					var page_url="https://www.troy.edu/index.html";
				</script></head>
   <body class="home-page">
      <!-- OU Search Ignore Start Here --><!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHZ585V"

height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->      <!-- OU Search Ignore End Here -->
      <!-- OU Search Ignore Start Here -->      <!-- OU Search Ignore End Here -->
      <nav class="skip-links-nav">
         <ul id="skip-links" class="list-unstyled">
            <li><a class="skip" href="#main-content" tabindex="0">Skip to Main Content</a></li>
         </ul>
      </nav>
      <header id="header" role="banner" class="header parallax-image--hero image-background">
         <!-- OU Search Ignore Start Here --><div id="menu-outer" class="container-fluid nav--z-index js-header-scrolling nav-isVisible collapsed">
   <div class="row">
      <nav id="utility-nav" role="navigation" class="navbar navbar-expand-lg header--utility-nav utility-nav--desktop">
         <div class="row container-base container-gutter header--utility-banner">
            <div class="col-md-2"><a href="/index.html" class="header-logo"><img src="/_resources/images/troy-logo-svg.svg" class="header-logo-svg" alt="Troy University, Homepage Link"></a></div>
            <div class="col-md-10">
               <ul class="navbar-nav mt-md-0">
                  <li class="nav-item">
                     <p class="nav-link">Info For:</p>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="/international/index.html">International</a></li>
                  <li class="nav-item"><a class="nav-link" href="/online/index.html">Online</a></li>
                  <li class="nav-item"><a class="nav-link" href="/military-veterans/index.html">Military &amp; Veterans</a></li>
                  <li class="nav-item"><a class="nav-link" href="/applications-admissions/index.html">Future Students</a></li>
                  <li class="nav-item"><a class="nav-link" href="/parents-families.html">Parents &amp; Family</a></li>
                  <li class="nav-item"><a class="nav-link" href="/alumni/index.html">Alumni</a></li>
                  <li class="nav-item"><a class="nav-link" href="/community-outreach/index.html">Community &amp; Outreach</a></li>
               </ul>
               <ul class="navbar-nav mt-md-0">
                  <li class="nav-item">
                     <p class="nav-link">Resources:</p>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="https://today.troy.edu" target="_blank" rel="noopener">News</a></li>
                  <li class="nav-item"><a class="nav-link" href="/calendar.html">Calendar</a></li>
                  <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                  <li class="nav-item"><a class="nav-link" href="/applications-admissions/visit.html">Visit</a></li>
                  <li class="nav-item"><a class="nav-link" href="/give/index.html">Give</a></li>
                  <li class="nav-item"><a class="nav-link" href="/libraries/index.html">Libraries</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://my.troy.edu" target="_blank" rel="noopener">my.troy.edu</a></li>
                  <li class="desktop-search-input">
                     <!-- OU Search Ignore Start Here -->
<form id="global-search-form--desktop" class="form-inline" action="/search/">
	<label class="sr-only" for="global-search--desktop">Search Site</label>
	<input class="search-form-control" type="text" placeholder="Search Site" name="q" id="global-search--desktop"/>
	<label class="sr-only" for="global-search-submit--desktop">Submit Search Query</label>
	<button id="global-search-submit--desktop" type="submit" aria-label="Submit Search Query"><span class="fa fa-search" aria-hidden="true"></span></button>
</form>                     <!-- OU Search Ignore End Here -->
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <nav role="navigation" class="navbar navbar-expand-xl header--main-nav"><a href="/index.html" class="header-logo--mobile"><img src="/_resources/images/troy-logo-svg.svg" class="header-logo-svg--mobile" alt="Troy University, Homepage Link"></a><button id="menu-toggle" class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation menu"></button><div class="container-base container-gutter header--banner">
            <div id="navbarSupportedContent" class="collapse navbar-collapse navbarToggler">
               <ul id="main-nav" role="menubar" class="navbar-nav mt-md-0">
                  <li class="mobile-search-input" role="menuitem">
                     <!-- OU Search Ignore Start Here -->
<form id="global-search-form" class="form-inline" action="/search/">
	<label class="sr-only" for="global-search">Search Site</label>
	<input class="search-form-control" type="text" placeholder="Search Site" id="global-search" name="query"/>
	<label class="sr-only" for="global-search-submit">Submit Search Query</label>
	<button id="global-search-submit" type="submit" aria-label="Submit Search Query"><span class="fa fa-search" aria-hidden="true"></span></button>
</form>                     <!-- OU Search Ignore End Here -->
                  </li>
                  <li class="nav-item mc-test" role="menuitem"><a class="nav-link" href="/applications-admissions/index.html">APPLICATIONS &amp; ADMISSIONS</a></li>
                  <li class="nav-item mc-test" role="menuitem"><a class="nav-link" href="/scholarships-costs-aid/index.html">SCHOLARSHIPS, COSTS &amp; AID</a></li>
                  <li class="nav-item mc-test" role="menuitem"><a class="nav-link" href="/academics/index.html">ACADEMICS</a></li>
                  <li class="nav-item mc-test" role="menuitem"><a class="nav-link" href="/student-life-resources/index.html">STUDENT LIFE &amp; RESOURCES</a></li>
                  <li class="nav-item mc-test" role="menuitem"><a class="nav-link" href="https://troytrojans.com/" target="_blank">ATHLETICS</a></li>
                  <li class="nav-item mc-test" role="menuitem"><a class="nav-link" href="/about-us/index.html">ABOUT US</a></li>
               </ul>
               <div class="mobile-columns">
                  <ul id="first-utility-nav--mobile" class="navbar-nav mt-md-0">
                     <li class="nav-item">
                        <p class="nav-link">Info For:</p>
                     </li>
                     <li class="nav-item"><a class="nav-link" href="/international/index.html">International</a></li>
                     <li class="nav-item"><a class="nav-link" href="/online/index.html">Online</a></li>
                     <li class="nav-item"><a class="nav-link" href="/military-veterans/index.html">Military &amp; Veterans</a></li>
                     <li class="nav-item"><a class="nav-link" href="/applications-admissions/index.html">Future Students</a></li>
                     <li class="nav-item"><a class="nav-link" href="/parents-families.html">Parents &amp; Family</a></li>
                     <li class="nav-item"><a class="nav-link" href="/alumni/index.html">Alumni</a></li>
                     <li class="nav-item"><a class="nav-link" href="/community-outreach/index.html">Community &amp; Outreach</a></li>
                  </ul>
                  <ul id="second-utility-nav--mobile" class="navbar-nav mt-md-0">
                     <li class="nav-item">
                        <p class="nav-link">Resources:</p>
                     </li>
                     <li class="nav-item"><a class="nav-link" href="https://today.troy.edu" target="_blank" rel="noopener">News</a></li>
                     <li class="nav-item"><a class="nav-link" href="/calendar.html">Calendar</a></li>
                     <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                     <li class="nav-item"><a class="nav-link" href="/applications-admissions/visit.html">Visit</a></li>
                     <li class="nav-item"><a class="nav-link" href="/give/index.html">Give</a></li>
                     <li class="nav-item"><a class="nav-link" href="/libraries/index.html">Libraries</a></li>
                     <li class="nav-item"><a class="nav-link" href="https://my.troy.edu" target="_blank" rel="noopener">my.troy.edu</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
      <!-- OU Search Ignore Start Here --><div class="navbar header--main-nav alert-bar">
   <div class="row text-center container-base container-gutter alert-bar-row" style="background-color:#efefef">
      <div class="col alert-bar-col">
         <p class="m-0 p-2 alert-bar-content" style="font-size: 1.2rem; color:#444444"><span class="fas fa-info-circle"></span>  <a href="https://www.troy.edu/coronavirus/" class="alert-bar-link" style="color:#444444"> Coronavirus (COVID-19) Information and Updates</a></p>
      </div>
   </div>
</div>      <!-- OU Search Ignore End Here -->
   </div>
</div>         <!-- OU Search Ignore End Here -->
      </header>
      <main id="main-content">
         <section class="hero-section">
            <div class="container-gutter">
               <div class="m-card m-card--solid hero--card">
                  <h1><strong>MAY IS MILITARY APPRECIATION</strong><br/>APP FEE WAIVERS, SCHOLARSHIPS</h1>
                  <p>
                     <p><strong>Advance your career with exclusive benefits toward graduate and undergraduate programs.
                           </strong>TROY¡¯s Military and Family Scholarship caps the cost of tuition at $250 per credit
                        hour for active military, Reservists and National Guard. Apply during the month of
                        May, and you¡¯ll also receive an application fee waiver. TROY¡¯s quality academic programs
                        can be completed in person, online or both, and you can even customize your degree
                        to match your experience and credit. Whatever you choose, TROY can prepare you to
                        lead the charge in your field. Use code <strong>USMIL2022.</strong></p>
                  </p><a href="https://troy.elluciancrmrecruit.com/Apply/Account/Login" class="a-button a-button--offset">Apply Now</a><a href="/military-veterans/index.html" class="a-button a-button--offset">Learn More</a></div>
            </div>
         </section>
         <section class="explore-campus-section content-block">
            <div class="container-gutter">
               <p>&nbsp;</p>
               
               <section class="content-block">
                  
                  <div class="row">
                     
                     <div class="col-md-7">
                        
                        <div class="o-video--container"><img role="presentation" src="/_dev/new-home-page/_images/program-banner-homepage.jpg" alt="" width="100%"></div>
                        
                        <div class="stat-divider">&nbsp;</div>
                        
                     </div>
                     
                     <div class="col-md-5">
                        <hr class="d-block d-md-none">
                        
                        <div class="mt-0 mb-0">
                           
                           <h2 class="no-overline">Start Your Career Journey at TROY</h2>
                           
                           <p>With 170+ undergraduate majors and minors and 110+ graduate degree options offered
                              on campus, online or both, TROY can prepare you for the future you want.
                           </p>
                           
                           <p><a class="a-button" href="/academics/academic-programs/index.html">Explore Programs</a></p>
                           
                           <p><a class="a-button" href="https://troy.emsicc.com/">Career Coach</a></p>
                           
                        </div>
                        
                     </div>
                     
                  </div>
                  
               </section>
               
               <p>&nbsp;</p>
               
               <p>&nbsp;</p>
               
               <h2 style="text-align: left;">Welcome to Troy</h2>
               
               <div class="row">
                  <div id="card01-container" class="col-sm-6 col-xl-3">
                     <div id="card01" class="card--portrait-layout"><img class="desktop-image" src="/_assets/troy-campus/_images/student-life-2.jpg" alt="Students climbing rock wall at Trojan Games" width="263" height="492"><img class="mobile-image" src="/_assets/troy-campus/_images/student-life-2-mobile.jpg" alt="Student climbing rock wall at Trojan Games" width="263" height="351">
                        
                        <h3>Student Life</h3>
                        
                        <p>Smaller class sizes, experienced professors with open-door policies, classmates from
                           around the globe, exciting Division I athletics events, and more than 100 student
                           groups and organizations offering fun, networking and skill-building opportunities
                           ? what¡¯s not to love about campus life at TROY? Every year, students from around the
                           U.S. ? and around the world ? find their second home on our campus in Troy, Alabama.
                           You'll meet the world at TROY.
                        </p>
                        <a class="a-button" href="/student-life-resources/index.html">Explore student life at TROY</a></div>
                  </div>
                  <div id="card02-container" class="col-sm-6 col-xl-3">
                     <div id="card02" class="card--portrait-layout"><img class="desktop-image" src="/_assets/troy-campus/_images/housing-1.jpg" alt="Co-ed dorm Rushing Hall" width="263" height="492"><img class="mobile-image" src="/_assets/troy-campus/_images/housing-1-mobile.jpg" alt="Co-ed dorm Rushing Hall" width="263" height="351">
                        
                        <h3 id="h_5586436213561645133088691">Housing</h3>
                        
                        <p>Historic buildings, comfortable, tech-equipped residence halls and convenient off-campus
                           housing ? there are many ways you can call TROY ¡°home.¡± Explore the housing options
                           that would be a good fit for you.
                        </p>
                        <a class="a-button" href="/student-life-resources/housing/index.html">Find your home away from home</a></div>
                  </div>
                  <div id="card03-container" class="col-sm-6 col-xl-3">
                     <div id="card03" class="card--portrait-layout"><img class="desktop-image" src="/_assets/troy-campus/_images/scholarship-2.jpg" alt="Student receives diploma at commencement" width="263" height="492"><img class="mobile-image" src="/_assets/troy-campus/_images/scholarship-2-mobile.jpg" alt="Student received diploma at commencement" width="263" height="351">
                        
                        <h3>Scholarships</h3>
                        
                        <p>TROY is committed to helping you get the education you need to make your career dreams
                           a career reality. We have many scholarship opportunities available to help pay for
                           undergraduate and graduate studies, whether you are taking your classes on campus
                           or online.
                        </p>
                        <a class="a-button" href="/scholarships-costs-aid/scholarships/index.html">Explore scholarship opportunities</a></div>
                  </div>
                  <div id="card04-container" class="col-sm-6 col-xl-3">
                     <div id="card04" class="card--portrait-layout"><img class="desktop-image" src="/_assets/troy-campus/_images/visit-campus-4.jpg" alt="Students walking on Academic Quad" width="263" height="492"><img class="mobile-image" src="/_assets/troy-campus/_images/visit-campus-4-mobile.jpg" alt="Students walking on Academic Quad" width="263" height="351">
                        
                        <h3>Visit Campus</h3>
                        
                        <p>Seeing is believing ? and when you visit TROY, you¡¯ll ¡°see¡± why. Visiting TROY can
                           help you decide if it¡¯s the right fit for you. You¡¯ll learn about our rich history
                           and traditions, visit our beautiful academic and sports facilities, and check out
                           our residence halls. And you can meet with one of our Admissions counselors to learn
                           about the opportunities waiting for you at TROY.
                        </p>
                        <a class="a-button" href="/applications-admissions/visit.html">Schedule a visit</a></div>
                  </div>
               </div>
            </div>
         </section>
         <section class="troy-showcase-section a-fullwidth-bg-image--percent content-block" style="background-image: url('/_resources/images/showcase-hawkins.jpg');">
            <div class="container-gutter">
               <h2>TROY is the Pathway to Your Future</h2>
               
               <p><span>Earn your degree from an accredited, four-year state university focused on preparing
                     you to be career-ready and globally competitive in whatever field you choose. As a
                     top-ranking educational institution with a reputation for integrity, patriotism and
                     excellence, TROY offers you value <em>and</em> values. Whether you plan to study on campus, online or choose a hybrid format, Troy
                     University gives you the flexibility, resources and top-notch academic training you'll
                     need to Lead Change in today¡¯s global marketplace.</span></p>
               
               <div class="row">
                  <div class="col-lg-4">
                     <div class="card--offset-circle">
                        <div id="card05-img" class="card--circle-img"><img src="/_resources/images/online.png" alt=""></div>
                        <div id="card05" class="m-card">
                           <h3>Adult Learners</h3>
                           <p>
                              TROY understands it¡¯s difficult to balance work, life and your education. Since the
                              1950s, TROY has offered distance learners the ability to earn their degrees from an
                              accredited, four-year state university. Today, TROY Online programs continue that
                              tradition of excellence, giving you the option to learn when and where it is best
                              for you.
                              
                           </p><a class="a-button a-button--offset" href="/online/index.html">Explore TROY Online</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="card--offset-circle">
                        <div id="card06-img" class="card--circle-img"><img src="/_resources/images/military.png" alt=""></div>
                        <div id="card06" class="m-card">
                           <h3>Military &amp; Veterans</h3>
                           <p>
                              TROY is passionate about supporting veterans and active-duty military members and
                              their families. As an educational partner with the U.S. Army, Navy, Air Force, Marine
                              Corps and Coast Guard, TROY offers military-specific scholarships and provides TROY
                              for Troops support centers to military-affiliated students and veterans.
                              
                           </p><a class="a-button a-button--offset" href="/military-veterans/index.html">Military Support Services</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="card--offset-circle">
                        <div id="card07-img" class="card--circle-img"><img src="/_resources/images/international.png" alt=""></div>
                        <div id="card07" class="m-card">
                           <h3>International&nbsp;</h3>
                           <p>
                              With TROY students representing more than 60 nations around the globe, it¡¯s no wonder
                              TROY is ¡°Alabama¡¯s International University.¡± On any given day, you can hear up to
                              75 different languages spoken by students, faculty and staff throughout our Troy Campus.
                              We provide all our international students with support and resources to feel ¡°at home¡±
                              and get the most from their educational experience in the U.S.
                              
                           </p><a class="a-button a-button--offset" href="/international/index.html">International Student Resources</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="flexible-promo-section content-block--padding">
            <div class="container-gutter">
               <div class="row">
                  <h2>Ready for a Career Boost?</h2>
                  <div class="col-12 pl-0 pr-0" id="card08">
                     <!-- OU Search Ignore Start Here --><div id="element-6470f7e0d0214130a5dfb16deabdd7c3"></div>                     <!-- OU Search Ignore End Here -->
                  </div>
               </div>
            </div>
         </section>
         <section class="content-block">
            <div class="m-text-block container-gutter">
               <h2>TROY Today News</h2>
            </div>
            <div class="slider-flipster">
               <!-- OU Search Ignore Start Here --><div id="element-d465c3e6fdf145d3b2c612f8ad21266e"></div>               <!-- OU Search Ignore End Here -->
            </div>
         </section>
         <!-- OU Search Ignore Start Here -->
<section id="mobile-events" class="events-section content-block">
	<div class="container-gutter">
		<h2>TROY Events</h2>
		<p>In light of the risk posed by the COVID-19 coronavirus, Troy University is continuing to monitor this rapidly changing situation and its impacts on University functions and events. Please see the Academic Calendar and University Calendar for the latest information about postponements or cancelations.</p>
		<a class="a-button" title="Academic Calendar" href="/academics/calendar.html">Academic Calendar</a>
		<a class="a-button" title="Academic Calendar" href="/calendar.html">TROY Calendar of Events</a>
	</div>
</section>
<section id="desktop-events" class="events-section content-block">
	<div class="container-gutter">
		<h2>TROY Events</h2>
		<p>In light of the risk posed by the COVID-19 coronavirus, Troy University is continuing to monitor this rapidly changing situation and its impacts on University functions and events. Please see the Academic Calendar and University Calendar for the latest information about postponements or cancelations.</p>
		<a class="a-button" title="Academic Calendar" href="/academics/calendar.html">Academic Calendar</a>
		<a class="a-button" title="Academic Calendar" href="/calendar.html">TROY Calendar of Events</a>
	</div>
</section>         <!-- OU Search Ignore End Here -->
         <!-- OU Search Ignore Start Here -->
<section class="connect-social-section content-block">
	<div class="container-gutter">
		<div class="row align-items-center">
			<h2 class="col-12 col-lg-6 order-1">Connect with Us </h2>
			<div class="col-12 col-lg-6 order-3 order-lg-2">
				<ul class="social-icons">
					<li><a href="https://www.facebook.com/TroyUniversity/" target="_blank"><img src="/_resources/images/Facebook.svg" alt="Link to Troy Facebook page."></a></li>
					<li><a href="https://twitter.com/TROYUNews" target="_blank"><img src="/_resources/images/Twitter.svg" alt="Link to Troy Twitter page." ></a></li>
					<li><a href="https://www.instagram.com/troyuniversity/" target="_blank"><img src="/_resources/images/Instagram.svg" alt="Link to Troy Instagram page." ></a></li>
					<li><a href="https://www.youtube.com/user/TroyUni" target="_blank"><img src="/_resources/images/YouTube.svg" alt="Link to Troy Youtube page." ></a></li>
					<li><a href="https://www.linkedin.com/school/troy-university/" target="_blank"><img src="/_resources/images/LinkedIn.svg" alt="Link to Troy Linkedin page." ></a></li>
				</ul>
			</div>
			<p class="col-12 order-2 order-lg-3">Keep current on what¡¯s going on at our vibrant campus via social media on Instagram!</p>


			<div class="col-12 order-12 social-feed state-button--onRight">
				<div id="isotope-gallery-feed" class="grid--isotope">
					<div class="grid-sizer"></div>
				</div>
				<a href="/about-us/offices-departments/office-university-relations/social-hub.html" target="_blank" class="a-button">View All Social Media</a>
			</div>
		</div>
	</div>
</section>         <!-- OU Search Ignore End Here -->
      </main>
      <!-- OU Search Ignore Start Here --><footer id="footer-skip" class="o-footer-section">
   <section class="o-footer">
      <div class="container-fluid">
         <div class="container-gutter content-block">
            <div class="footer--card">
               <div class="row">
                  <div class="col-sm-12 col-lg-3"><a href="/index.html"><img src="/_resources/images/troy-logo-svg.svg" class="footer-logo footer-logo-svg" alt="Troy University, Homepage Link"></a><address class="a-footer-info">Troy University<br>Troy, Alabama 36082
                     </address>
                     <ul class="m-footer-links a-footer-info">
                        <li><a href="tel:+1-800-414-5756">1.800.414.5756</a></li>
                        <li><a href="https://helpdesk.troy.edu/TDClient/1924/Portal/Requests/TicketRequests/NewForm?ID=Lk7GXKkI%7eiA_">Questions?</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-12 col-lg-9">
                     <h2 class="a-footer-link--heading no-overline">Resources</h2>
                     <ul class="col-sm-12 m-footer-links">
                        <li><a href="https://sos.troy.edu/" target="_blank" rel="noopener">Emergency Information</a></li>
                        <li><a href="/student-complaints.html">Student Complaints</a></li>
                        <li><a href="https://splash.troy.edu/feedback/">Feedback Form</a></li>
                        <li><a href="/student-disability-services/index.html">Student Disability Services</a></li>
                        <li><a href="https://www.troyuniversityjobs.com/" target="_blank" rel="noopener">Employment</a></li>
                        <li><a href="/net-price-calculator/index.html">Net Price Calculator</a></li>
                        <li><a href="/about-us/offices-departments/office-university-relations/social-hub.html">Social Media</a></li>
                        <li><a href="/about-us/offices-departments/institutional-research-planning-effectiveness/planning/index.html">Strategic Plan</a></li>
                     </ul>
                     <h2 class="a-footer-link--heading no-overline">COPYRIGHT</h2>
                     <h3 class="a-footer-link"><span id="directedit">?</span>&nbsp;1996-2022 Troy University
                     </h3>
                     <ul class="col-sm-12 m-footer-links">
                        <li><a href="/about-us/accreditation.html">Accreditation Statement</a></li>
                        <li><a href="/privacy-statement.html">Privacy Statement</a></li>
                        <li><a href="/accessibility-statement.html">Accessibility Statement</a></li>
                        <li><a href="/disclaimer.html">Read Our Disclaimer</a></li>
                        <li><a href="/a-to-z.html">A-Z Sitemap</a></li>
                        <li><a href="/academics/academic-resources/records-office/transcripts.html">Transcripts</a></li>
                        <li><a href="/about-us/fast-facts/state-authorization.html">State Authorization</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</footer>      <!-- OU Search Ignore End Here -->
      <!-- OU Search Ignore Start Here -->
<!-- footcode include -->
<!-- VENDOR -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="/_resources/js/libs/jquery-accessible-menu-custom/jquery-accessibleMegaMenu.js"></script>
<script src="/_resources/js/libs/slick-1.8.1/slick.min.js"></script>
<!--CDN link for TweenLite-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>


<!-- SCRIPTS -->
<script src="/_resources/js/global.js?04102020"></script>
<script src="/_resources/js/animations.js"></script>
<script src="/_resources/js/slider-slick.js"></script>

<!-- testing script sos -->
<!-- <script id="soserator" type="text/javascript" src="/sos/soserator-ext-min.js" data-config="/sos/config-site.json"></script> -->


<!-- REMIND USERS TO UPDATE OUT DATED BROWSERS -->
<!-- To test the widget visit: www.domain-name.edu/#test-bu -->
<!-- https://browser-update.org/ -->
<script> 
	var $buoop = {required:{e:-4,f:-3,o:-3,s:-3,c:-3},insecure:true,style:"bottom",api:2018.08 }; 
	function $buo_f(){ 
		var e = document.createElement("script"); 
		e.src = "//browser-update.org/update.min.js"; 
		document.body.appendChild(e);
	};
	try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
	catch(e){window.attachEvent("onload", $buo_f)}
</script>


<script src="/_resources/js/direct-edit.js"></script>
      <!-- OU Search Ignore End Here -->
      <div id="hidden" style="display:none;">
         <a id="de" rel="nofollow" href="https://a.cms.omniupdate.com/11/?skin=oucampus&amp;account=troy&amp;site=www&amp;action=de&amp;path=/index.pcf">?</a>
      </div><script src="/_resources/js/home.js"></script><script src="/_resources/js/libs/isotope/isotope.pkgd.min.js"></script><script src="/_resources/js/libs/isotope/packery-mode.pkgd.min.js"></script><script src="https://unpkg.com/imagesloaded@4.1.3/imagesloaded.pkgd.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script><script src="/_resources/js/libs/jquery-flipster/jquery.flipster.min.js"></script><script src="/_resources/js/slider-flipster.js"></script><script src="/_resources/js/libs/instafeed.min.js"></script><script src="/_resources/js/instagram-widget.js"></script><script async src="https://siteimproveanalytics.com/js/siteanalyze_66357139.js"></script><script src="/_resources/includes/alert.js?04102020"></script><script src="//cdn.omniupdate.com/vue/v2.5.15/vue.min.js"></script><script src="//cdn.omniupdate.com/feed-parser/v1.0/feed-parser.min.js"></script>
      <!-- OU Search Ignore Start Here -->
<script>
function ouReIntializedcefdfdbcfade() {
if ($('.slider-flipster').length > 0) {
  $(window).on('load resize', function() {
    $('.slider-flipster').each(function() {
      positionFlipsterNavArrows($(this));
    });
  });
}

sliderFlipster();

}
</script>
<script>
			$(function(){
			oucParsing = {};
			oucParsing.elementId = "element-d465c3e6fdf145d3b2c612f8ad21266e";
			oucParsing.templateId = "template-d465c3e6fdf145d3b2c612f8ad21266e";
			oucParsing.dataSource = "/_resources/feed-parser/scripts/grab-feed.php?feed=https%3A%2F%2Ftoday.troy.edu%2Ffeed%2Fhome";
oucParsing.convertXml = true;
oucParsing.objectLocationOfItems = "";
oucParsing.preFilteredCategories = [];
oucParsing.defaultYears = [];
oucParsing.removePastItems = false;
oucParsing.sortingFunction = "noSort";
oucParsing.attrSortBy = "";
oucParsing.attrSortBySecondary = null;
oucParsing.limitedCount = 5;
oucParsing.displayPlaceholderImage = false;
oucParsing.placeholderImage = "";
oucParsing.noItemsFoundText = "Uh oh! Please adjust your filter(s) as no items match it!";
oucParsing.feedLoadingText = "Feed Loading...";
oucParsing.feedLoadErrorText = "Feed could not be loaded.";
oucParsing.excludeProp = "";
oucParsing.excludeItems = [];
oucParsing.reIntializeCheck = true;
oucParsing.reIntializeCheckFunction = "ouReIntializedcefdfdbcfade";

			displayParsing(oucParsing);
			oucParsing = {};
			});
		</script>
<script id="template-d465c3e6fdf145d3b2c612f8ad21266e" type="text/template"><div v-if="!dataLoaded">{{feedLoadingText}}</div>
<div v-else-if="feedLoadError">{{feedLoadErrorText}}</div>
<ul v-else>
	<li v-for="(current, index) in limitedResults">
		<!-- images have to all be 300px X 165px on mobile,  600px X 330px on tablet, 1138px X 626px on desktop -->
		<picture v-if="current['media:content'] || displayPlaceholderImage">
			<source v-if="current['media:content'] && current['media:content'][2]['@attributes'].url" media="(min-width: 1200px)" :srcset="current['media:content'][2]['@attributes'].url" />
			<source v-if="current['media:content'] && current['media:content'][1]['@attributes'].url" media="(min-width: 576px)" :srcset="current['media:content'][1]['@attributes'].url" />
			<img v-if="current['media:content'] && current['media:content'][0]['@attributes'].url" :src="current['media:content'][0]['@attributes'].url" :alt="current.title" />
		</picture>
		<!-- Image to show on IE 10 and 11 Only-->
		<img v-if="current['media:content'] && current['media:content'][2]['@attributes'].url" :src="current['media:content'][2]['@attributes'].url" class="ie-only" :alt="current.title" />
		<span class="sr-only" tabindex="0">Image Slide {{index}}</span>
		<div class="m-card m-card--sliderHasButtons m-card--solid card--slider">
			<!-- Heading will have a max character count of 63 characters -->
			<h3 v-if="current.title">{{current.title}}</h3>
			<p v-if="current.description.p">{{current.description.p[0]}}</p> 
<!-- 			Added for the ticekt#52506 -->
<!-- 			<p v-if="typeof current.description.p == 'object'" v-html="current.description.p[0]"></p> -->
<!-- 			<p v-else-if="typeof current.description.p == 'string'" v-html="current.description.p"></p> -->
<!-- 			Added for the ticekt#52506 -->
<!-- 			<div v-else-if="typeof current.description == 'string'" v-html="current.description.replace('a-button','')" class="feed-excerpt"></div> -->
<!-- 			<div v-else-if="typeof current.description == 'string'" v-html="current.description.replace('a-button','')" class="feed-excerpt"></div> -->
			<a :href="current.link" class="a-button" target="_blank">Read More</a>
		</div>
	</li>
</ul></script>
      <!-- OU Search Ignore End Here -->
      <!-- OU Search Ignore Start Here -->
<script>
function ouReIntializefedadfbdeabddc() {
if ($('.slider-flipster').length > 0) {
				$(window).on('load resize', function() {
				$('.slider-flipster').each(function() {
				positionFlipsterNavArrows($(this));
				});
				});
				}

				sliderFlipster();
			
}
</script>
<script>
			$(function(){
			oucParsing = {};
			oucParsing.elementId = "element-6470f7e0d0214130a5dfb16deabdd7c3";
			oucParsing.templateId = "template-6470f7e0d0214130a5dfb16deabdd7c3";
			oucParsing.dataSource = "/_resources/feed-parser/scripts/grab-feed.php?feed=https%3A%2F%2Ftoday.troy.edu%2Ffeed%2Ffeature-home";
oucParsing.convertXml = true;
oucParsing.objectLocationOfItems = "";
oucParsing.preFilteredCategories = [];
oucParsing.defaultYears = [];
oucParsing.removePastItems = false;
oucParsing.sortingFunction = "noSort";
oucParsing.attrSortBy = "";
oucParsing.attrSortBySecondary = null;
oucParsing.limitedCount = 1;
oucParsing.displayPlaceholderImage = false;
oucParsing.placeholderImage = "";
oucParsing.noItemsFoundText = "Uh oh! Please adjust your filter(s) as no items match it!";
oucParsing.feedLoadingText = "Feed Loading...";
oucParsing.feedLoadErrorText = "Feed could not be loaded.";
oucParsing.excludeProp = "";
oucParsing.excludeItems = [];
oucParsing.reIntializeCheck = true;
oucParsing.reIntializeCheckFunction = "ouReIntializefedadfbdeabddc";

			displayParsing(oucParsing);
			oucParsing = {};
			});
		</script>
<script id="template-6470f7e0d0214130a5dfb16deabdd7c3" type="text/template"><div v-if="!dataLoaded">{{feedLoadingText}}</div>
<div v-else-if="feedLoadError">{{feedLoadErrorText}}</div>
<div v-else>
	<div v-for="(current, index) in limitedResults">
		<div v-if="current['media:content'] && current['media:content'][2]['@attributes'].url || displayPlaceholderImage" class="image">
			<img v-if="current['media:content'] && current['media:content'][2]['@attributes'].url" :src="current['media:content'][2]['@attributes'].url" :alt="current.title" />
			<img v-else :src="placeholderImage" :alt="current.title" />
		</div>
		<div class="m-card m-card--solid offset-promo--card m-card--offset-buttons-top">
			<h3 v-if="current.title">{{current.title}}</h3>
			<p v-if="current.description.p">{{current.description.p[0]}}</p>
			<a :href="current.link" class="a-button a-button--offset-right" target="_blank">Read More</a>
		</div>
	</div>
</div></script>
      <!-- OU Search Ignore End Here --><!-- ouc:info uuid="e9d1c674-f611-4f31-b1e9-29399a6d88e5"/ --></body>
</html>